html{
  text-align: center;
}

.colorBox{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  cursor: pointer;
  
}

#red{
  background-color: red;
}
#green{
  background-color: green;
}
#yellow{
  background-color: yellow;
}
#lightBlue{
  background-color: lightblue;
}